.card {
   background-color: #ffffff;
   width: 250px;
   margin: 5px 10px;
}

.imagem-card {
width: 250px;

}

.descricao-card {
font-family:Arial, Helvetica, sans-serif;
font-weight: bold;
height: 70px;
color: #333333;

}

.preco-card { 
font-size: 18px;
font-family: impact;
font-weight: bold;
color: #e00b0b;
}

.formaPagamento-card {
font: 8px;
color: #000000;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao-card {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
background-color: #e00b0b;
width: 100%;
background-color rgb(236, 95, 13);
height: 40px;
}