body, html {
    margin: 0;
    padding: 0; 
    height: 100%;
    background-color: #cccccc;

}
.container {
    width: 80%;
    height: 100%;
    background-color: #FFFFFF;
    margin: 0 auto;/* Alinhamento central */
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100px auto 150px; 
    grid-template-areas: "cabecalho cabecalho"
                         "secao barra-lateral"
                         "rodape rodape";
}
header{
    background-color: #
    grid-area: cabecalho;
}
main{
    display: flex;
    background-color: #FFFFFF;
    grid-area: secao;
    flex-wrap: wrap;
    height: 100%;
}
aside{
    background-color: #e0d475;
    grid-area: barra-lateral;
}
footer{
    background-color: #23b80f;
    grid-area: rodape;
}

.menu{
    border: 1px solid;
    background-color: rgb(2, 2, 2);
    display: flex;
    list-style: none;
    
}
.item-menu{
    border: 1px solid #111812;
    background-color: rgb(6, 7, 7);
    transition: opacity 1.3s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-menu:hover{
    opacity: 0.9;
}

.link-item-menu{
    color: rgb(255, 255, 255);
    font-weight: bold;
    text-decoration: none;
    padding: 0 40px;
    
}