.menu{
    border: 1px solid;
    background-color: rgb(216, 12, 12);
    display: flex;
    list-style: none;
    
}
.item-menu{
    border: 1px solid #111010;
    background-color: rgb(224, 17, 17);
    transition: opacity 1.3s;
    padding-top: 10px;
    padding-bottom: 10px;
}

.item-menu:hover{
    opacity: 0.9;
}

.link-item-menu{
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
    padding: 0 40px;
    
}