body, html{
    margin: 0;
    padding: 0;
    height: 100%;
}

.container{
    width: 80%;
    height: 100%;
    background-color: aqua;
    margin: 0 auto;
}
header{
    height: 110px;
    width: 100%;
    background-color: brown;
}

nav{
    height: 50px;
    width: 100;
    background-color: blue;

}
.descricao{
    height: 100px;
    width: 100%;
    background-color: blueviolet;
}
.produto{
    background-color: black;
    display: flex;
    width: 100%;
    height: 500px;

}
.img-produto{
    width: 50%;
    height: 100%;
}
.comprar-produto{
    width: 50%;
    height: 100%;
    background-color:chartreuse
}
.linha-botao-preco{
    display: flex;
    justify-content: space-between;
    border: 2px solid;
    margin-top: 50px;
}
.preco{
    font-size: 50px;
    font-weight: bold;
    font-family: Arial;
    color: chocolate;
    
}
.botao-comprar{
    background-color: chocolate;
    color: aliceblue;
    padding: 0 150px;
    height: none;
}

